h1 {
  font-size: 16px;
}

h2 {
  font-size: 14px;
}

h3 {
  font-size: 12px;
}

.overview-item-header {
  background-color: #e64415;
  height: 40%;
  padding: 3px;
  padding-left: 10px;
  padding-top: 10px;
  border-top-right-radius: 2px;
  border-top-left-radius: 2px;
  box-sizing: border-box;
}

.overview-item-body {
  background-color: white;
  height: 60%;
  padding: 3px;
  padding-top: 15px;
  padding-left: 10px;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;
  box-sizing: border-box;
}

.overview-item-wrapper {
  height: 170px;
  width: 250px;
  margin: 3px;
  border-radius: 2px;
  cursor: pointer;
  box-shadow: 2px 2px 2px 1px rgba(121, 116, 116, 0.568);
}
